$main-font: 'Amatic SC', cursive, 'Teko', Impact, sans-serif;
// 'Teko', Impact, sans-serif;
$p-font: 'Josefin Sans', 'Oswald', "Roboto", sans-serif;
// 'Oswald', "Roboto", sans-serif;
$main-g: #434345;
$main-y: #febe10;
$box-y: #ffe18b;
$hov-y: #ffd67b;