#mainHero {
    margin-top: 10%;
    width: 256px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    position: relative;
    #slideShow {
        position: relative;
        width: 57%;
        img {
            position: absolute;
        }
        #sld1 {
            z-index: 8;
        }
        #sld2 {
            z-index: 6;
        }
        #sld3 {
            z-index: 5;
        }
        #sld4 {
            z-index: 4;
        }
        #sld5 {
            z-index: 3;
        }
        #sld6 {
            z-index: 2;
        }
    }
    #ntmy {
        display: none;
    }
    .yBox {
        display: none;
    }
    #nameHov {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 50px;
        width: 40%;
        p {
            font-size: 14px;
            margin-bottom: 10%;
            &:nth-child(4) {
                font-size: 12px;
            }
            img {
                margin-bottom: -4px;
                width: 16px;
            }
        }
    }
    h2 {
        color: $main-g;
        font-family: $main-font;
        position: absolute;
        bottom: 0;
        font-size: 50px;
        letter-spacing: 1px;
        #nameTag {
            color: $main-y;
            cursor: url(../images/b_pointer.png), pointer; 
            &:hover {
                color: $hov-y;
                transition: all 0.6s ease;
            }
        }
    }
}

#ks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
    -webkit-animation: bounce-top 2s 3 both;
    animation: bounce-top 3s infinite both;
    @-webkit-keyframes bounce-top {
        0% {
          -webkit-transform: translateY(-35px);
                  transform: translateY(-35px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        24% {
          opacity: 0.5;
        }
        40% {
          -webkit-transform: translateY(-24px);
                  transform: translateY(-24px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        65% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        82% {
          -webkit-transform: translateY(-6px);
                  transform: translateY(-6px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        93% {
          -webkit-transform: translateY(-4px);
                  transform: translateY(-4px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
      }
      @keyframes bounce-top {
        0% {
          -webkit-transform: translateY(-35px);
                  transform: translateY(-35px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        24% {
          opacity: 0.5;
        }
        40% {
          -webkit-transform: translateY(-24px);
                  transform: translateY(-24px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        65% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        82% {
          -webkit-transform: translateY(-6px);
                  transform: translateY(-6px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        93% {
          -webkit-transform: translateY(-4px);
                  transform: translateY(-4px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
      }
      
    p {
        font-size: 15px;
        padding-bottom: 2%;
        font-family: $main-font;
    }
    #arrow_down {
        width: 10%;
    }
}

@media screen and (min-width: 768px) {
    #mainHero {
        margin-top: 5%;
        width: 630px;
        height: 360px;
        margin-bottom: 10%;
        #slideShow {
            width: 38%;
            margin-left: 30%;
        }
        #ntmy {
            display: block;
            font-size: 34px;
            font-family: $main-font;
            position: absolute;
            margin-top: 70px;
        }
        .yBox {
            display: block;
            width: 225px;
            height: 250px;
            background-color: $box-y;
            margin-left: 10%;
            position: absolute;
            z-index: -99;
            bottom: 0;
        }
        #nameHov {
            right: 0;
            bottom: 0;
            width: 30%;
            -webkit-animation: slide-in-hov 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-hov 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            @-webkit-keyframes slide-in-hov {
                0% {
                    -webkit-transform: translateY(50px);
                    transform: translateY(50px);
                    opacity: 0;
                }
                100% {
                    -webkit-transform: translateY(0px);
                    transform: translateY(0px);
                    opacity: 1;
                }
              }
              @keyframes slide-in-hov {
                0% {
                    -webkit-transform: translateY(50px);
                    transform: translateY(50px);
                    opacity: 0;
                }
                100% {
                    -webkit-transform: translateY(0px);
                    transform: translateY(0px);
                    opacity: 1;
                }
              }
              
            p {
                font-size: 22px;
                &:nth-child(4) {
                    font-size: 20px;
                }
                img {
                    margin-bottom: -6px;
                    width: 25px;
                }
            }
        }
        h2 {
            font-size: 65px;
            right: 0;
            padding-right: 3%;
            letter-spacing: 0px;
        }
    }
    #ks {
        margin-bottom: 15%;
        p {
            font-size: 20px;
            padding-bottom: 1%;
        }
        #arrow_down {
            width: 5%;
        }
    }
}

@media screen and (min-width: 1000px) {
    #ks {
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 1200px) {
    #mainHero {
        margin-top: 3%;
        width: 800px;
        height: 450px;
        margin-bottom: 10%;
        #slideShow {
            width: 38%;
            margin-left: 31%;
        }
        #ntmy {
            font-size: 45px;
            margin-top: 80px;
            // margin-left: 10px;
        }
        .yBox {
            width: 290px;
            height: 320px;
            margin-left: 10%;
        }
        #nameHov {
            width: 28%;
            margin-bottom: 70px;
            p {
                font-size: 25px;
            }
        }
        h2 {
            font-size: 87px;
            margin-bottom: -10px;
            padding-right: 1%;
        }
    }
}