#portHero {
    margin-top: 10%;
    position: relative;
    height: 380px;
    .deskHero {
        display: none;
        z-index: -99;
    }
    .tabHero {
        display: none;
        z-index: -99;
    }
    .mobHero {
        width: 100%;
        position: absolute;
        z-index: -99;
    }
    .heroText {
        padding-top: 70%;
        padding-left: 10%;
        p {
            font-size: 25px;
            font-family: $main-font;
        }
        h1 {
            font-size: 60px;
            color: $main-y;
            margin-bottom: 5%;
        }
        .purP {
            font-size: 18px;
        }
    }
}

#mainContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 15%;
    a {
        font-family: $p-font;
        color: $main-g;
        font-size: 20px;
    }
    h2 {
        font-size: 45px;
        color: $main-y;
        margin-bottom: 10%;
    }
    h3 {
        font-size: 30px;
        color: $main-y;
        // margin-bottom: 5%;
    }
    p {
        font-size: 20px;
        line-height: 25px;
    }
    .mainCL {
        display: flex;
        flex-direction: column;
        div {
            margin-bottom: 20%;
        }
    }
    .mainCR {
        display: flex;
        flex-direction: column;
        div {
            margin-bottom: 10%;
        }
    }
}

#imgDisplay {
    display: none;
}

#pn-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    .noNeed {
        visibility: hidden !important;
    }
    .pn {
        display: flex;
        flex-direction: row;
        svg {
            width: 11px;
            margin-left:  5px;
            margin-right: 5px;
        }
        p {
            font-size: 20px;
        }
        &:hover {
            cursor: url(../images/b_pointer.png), pointer;
            #pre_arrow .st0, #next_arrow .st0 {
                fill: $hov-y;
                transition: all 0.3s ease;
            }
            p {
                color: $hov-y;
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (min-width: 350px) {
    #portHero {
        height: 250px;
        .deskHero {
            display: none;
            z-index: -99;
        }
        .tabHero {
            display: block;
            z-index: -99;
            width: 100%;
            position: absolute;
        }
        .mobHero {
            display: none;
        }
        .heroText {
            padding-top: 15%;
        }
    }
}

@media screen and (min-width: 500px) {
    #portHero {
        height: 300px;
        .heroText {
            padding-top: 15%;
            h1 {
                margin-bottom: 2%;
            }
        }
    }
}

@media screen and (min-width: 630px) {
    #portHero {
        height: 350px;
        .heroText {
            padding-top: 20%;
            padding-left: 5%;
        }
    }
}

@media screen and (min-width: 700px) {
    #portHero {
        height: 380px;
    }
    #mainContent {
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 768px) {
    #portHero {
        margin-top: 5%;
        height: 405px;
        .heroText {
            padding-top: 20%;
            p {
                font-size: 26px;
            }
            h1 {
                font-size: 65px;
                margin-bottom: 1%;
            }
            .purP {
                font-size: 20px;
            }
        }
    }
    
    #mainContent {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        a {
            cursor: url(../images/b_pointer.png), pointer; 
            &:hover {
                color: $hov-y;
                transition: all 0.4s ease;
            }
        }
        h2 {
            font-size: 50px;
            margin-bottom: 5%;
        }
        h3 {
            font-size: 30px;
            margin-bottom: 3%;
        }
        p {
            line-height: 28px;
        }
        .mainCL {
            width: 65%;
            div {
                margin-bottom: 15%;
            }
        }
        .mainCR {
            margin-top: 4%;
            margin-left: auto;
            div {
                margin-bottom: 30px;
                text-align: right;
            }
        }
    }
    
    #imgDisplay {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5%;
        .imgDBot {
            display: flex;
            flex-direction: row;
            margin-top: 3%;
            width: 100%;
            img {
                width: 50%;
            }
            .imgDBot-r {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 5%;
                img {
                    width: 100%;
                }
            }
        }
    }
    
    #pn-page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        .noNeed {
            visibility: hidden !important;
        }
        .pn {
            display: flex;
            flex-direction: row;
            svg {
                width: 11px;
                margin-left:  5px;
                margin-right: 5px;
            }
            p {
                font-size: 20px;
            }
            &:hover {
                cursor: url(../images/b_pointer.png), pointer;
                #pre_arrow .st0, #next_arrow .st0 {
                    fill: $hov-y;
                    transition: all 0.3s ease;
                }
                p {
                    color: $hov-y;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

@media screen and (min-width: 850px) {
    #portHero {
        height: 400px;
        .deskHero {
            display: block;
            width: 100%;
            position: absolute;
        }
        .tabHero {
            display: none;
        }
        .heroText {
            padding-top: 15%;
        }
    }
}

@media screen and (min-width: 1000px) {
    #portHero {
        height: 450px;
        .heroText {
            padding-top: 20%;
        }
    }
}

@media screen and (min-width: 1100px) {
    #portHero {
        height: 500px;
        .heroText {
            padding-top: 20%;
            p {
                font-size: 30px;
            }
            h1 {
                font-size: 75px;
                margin-bottom: 1%;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    #portHero {
        height: 550px;
    }
    #mainContent {
        .mainCL {
            width: 55%;
        }
    }
    #imgDisplay {
        .imgDBot {
            img {
                width: 50%;
            }
            .imgDBot-r {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 2%;
                img {
                    width: 104%;
                }
            }
        }
    }
}

@media screen and (min-width: 1225px) {
    #imgDisplay {
        .imgDBot {
            .imgDBot-r {
                img {
                    width: 105%;
                }
            }
        }
    }
}

@media screen and (min-width: 1265px) {
    #imgDisplay {
        .imgDBot {
            .imgDBot-r {
                img {
                    width: 108%;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    #imgDisplay {
        .imgDBot {
            .imgDBot-r {
                img {
                    width: 110%;
                }
            }
        }
    }
}